.logo, img
{
    width: 100px;
    float: left;
}

.profilePic
{
    width: 300px;
}

nav
{
    padding-top: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    top: 0;
    width: 100%;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: #9CB6D9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover:not(.active) {
    background-color: transparent;
    color: #466C8C;
  }
  
.active {
    color: black;
    font-weight: bold;
  }

#container
{
    width: 1000px;
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica, Arial, sans-serif;
}

.box 
{
    padding-left: 800px;

}

.left {
    float: left;
    width: 500px;
    height: 150px;
    padding-top: 20px;
    font-family: 'Noto Serif', serif; 
    
}

.right {
    float: right;
    width:500px;
    height: 150px;
    padding-top: 20px;
    padding-right: 0px;
    font-family: 'Noto Serif', serif; 
}

#header
{
    background-color: #A67E7B;
    color: white;
    padding: 10px;
    font-weight: bold;
}

#menu
{
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#menu a
{
    color: black;
    text-decoration: none;
    margin-left: 5px;
    padding: 45px;
}

.text
{
    background-color: #fcc5b2;
    font-size: 12px;
    padding: 5px;
    display: none;
}

h1 {
    font-size: 15px;
}


